body {

    font-family: "Montserrat", sans-serif;
  
    text-align: center;
  
    padding: 0;
  
    margin: 0;

    color: #373737;
  
}
  
  
  
  .header-menu {
  
    display: flex;
  
    justify-content: center;
  
  }
  
  .menu-list {
  
  }
  
  .menu-item {
  
    display: inline-block;
  
    padding: 0 35px;
  
  
    font-style: normal;
  
    line-height: 100%;
  
    align-items: center;
  
    letter-spacing: 1.4px;
  
  
  
    color: #ff0000;
  
  }
  
  
  
  .menu-item a {
  
    color: #ff0000;
  
    text-decoration: none;
  
    font-weight: bold;
  
    font-size: 18px;
  
  }
  
  .menu-item a:hover {
  
    border-bottom: 1px solid red;
  
  }
  
  
  
  .btn {
  
    padding: 18px 42px 17px 42px;
    
    cursor: pointer;

    border: none;
  
    background-color: red;
  
    color: #fff;
  
    text-transform: uppercase;
  
    font-weight: bold;
    
    margin: 84px 0px;
    
  
  }
  
  
  
  footer .footer-text {
  
    margin-left: 700px;
  
  }
  
  
  
  .img {
  
    width: 100%;
  
  }
  
  
  
  .img img {
    width: 100%;
    
    image-rendering: auto;
  }
  .header-title {
      margin: 49px 0px;
      
      letter-spacing: 2px;
      
      text-transform: uppercase;
      
      font-weight: 900;
      
      
  
  }
  .content-text {
      margin: 38px 0px;
      
      padding: 0px 67.5px ;
      
  }
  .content-text_1 {
      margin: 28px;
      
      font-size: 16px;
  }


  .letter-space{
    letter-spacing: 2.4px;
    
  }
  .footer-text {
    font-style: normal;
    
    font-weight: bold;
    
    font-size: 16px;
    
    line-height: 20px;
    
    letter-spacing: 1.4px;
    
   
    margin: 52px;
  }