html {
  box-sizing: border-box;
  
}
body {
  margin: 0;
  
}


*, *::before, ::after {
  box-sizing: border-box;
}
.blok {
  max-width: 1280px;
  margin: 0px auto;
  height: 1280px;
  
}
.container {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
 
}
.header-wrap {
  border: 1px solid black;
  
}
.header-main {
  
}
.title-text {
  font-size: 80px;
  color: rgb(28, 201, 231);
  letter-spacing: 1px;
  line-height: 79px;
  font-weight: 403;
  margin-bottom: 38px;
  margin-top: 63px;
}
.title-text span {
  color: black;
  font-weight: 400;
}
.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 0px 20px;
  background: #35444f;
  margin: 0 auto;
  padding: 10px;
  
}
.menu-item {
	list-style: none;
  background: #35444f;
}
.menu-list a:hover {
  background: #222f3a;
}
.menu-item a {
  text-decoration: none;
  font-size: 24px;
  padding: 10px 40px;
  color: #fff;
  border: 1px solid #fff;
  border-collapse: collapse;
  
}
.main {
  display: flex;
  margin-top: 48px;
  
  
  
}
.aside-navigation {
  border: 1px solid black;
  width: 344px;
  height: 396 px;
  
  
  
  
}
.aside-list {
  list-style: none;
  
}
.aside-list a {
  text-decoration: none;
  display: block;
  font-size: 29px;
  color: #485863;
  padding-left: 44px;
  padding-top: 27px;
  padding-bottom: 23px;
  margin: 0 auto;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
.aside-list a:hover {
  background: #DBDBDB;
  color: black;
}
.img {

  border: 1px solid green;
  width: 885px;
  height: 529px;
  position: absolute;
  margin-left: 50px;
  padding-left: 297px;
  padding-right: 268px;
  padding-top: 75px;
  padding-bottom: 73px;

}
.text {
  max-width: 890px;
  position: absolute;
  margin-left: 50px;
  margin-top: 600px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #2C2C2C;

}
.menu-list-footer {
  display: flex;
  height: 69px;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 0px 20px;
  background: #63696E7A;
  margin: 0 auto;
  padding: 15px;
  margin-top: 500px;
  margin-bottom: 51px;
  vertical-align: middle;
}
.menu-item-footer a {
  text-decoration: none;
  font-size: 24px;
  padding: 25px;
  color: #000;
  border-collapse: collapse;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  display: flex;
  
}
.menu-list-footer a:hover {
  color: aqua;
  border-bottom: 1px solid aqua;
}
.Copyright {
  font-size: 24px;
  font-family: Roboto;
}
/* Извините за такую домашу(( много чего навалилось и я неуспеваю за групой и нет времени читать всю информацию( хотел бы сделать правельно, если скажите что именно я не так делаю)спасибо. */
